name: Tests CI
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  SETUP:
    runs-on: ubuntu-latest
    steps:

      - name: Tests SETUP
        run: |
          echo setup

  TEST1:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
        with:
          repository: ismailktami/postmannewmanci
          path: postmannewmanci
    # INstall Node on the runner
      - name: Install Node
        uses: actions/setup-node@v1
        with:
          node-version: "12.x"
          
      - name: Test postman
        run: cat postmannewmanci/README.md  

  TEST2:
    runs-on: ubuntu-latest
    needs: TEST1
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
        with:
          repository: ismailktami/robotframeworkdemo
          path: robotframeworkdemo

      - name: Prepare Python 3.8
        uses: actions/setup-python@v4
        with:
          python-version: '3.8' 
          
      - name: Test Python
        run: cat robotframeworkdemo/REDME.md


  TEARDOWN:
    runs-on: ubuntu-latest
    needs: [TEST1,TEST2]
    if: always()
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Test Save results
        run: |
          timestamp=$(date +"%Y%m%d%H%M%S")
          mkdir -p executions
          touch DatasetPT-$timestamp.json
          cp DatasetPT-$timestamp.json  executions

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: add execution